---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AlignEscapedNewlinesLeft: true
AlignTrailingComments: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
SortIncludes: false
---
