# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.dcu
*.~cpp
*.~h
*.~bpr
*.~pas
*.opensdf
*.sdf
*.sln
*.vcxproj
*.filters
format_all_files.py
MaSzyna.opensdf
MaSzyna.sdf
MaSzyna.sln
MaSzyna.vcxproj
MaSzyna.vcxproj.filters
*.suo
